body {
  background-color: #ddd;
}

.container {
  width: 80%;
  margin: auto;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Arial';

}

#board {
  width: 70%;
  margin: auto;
  padding: 30px;
}





